<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943924828873-jdeursob2d2r64pi9n3uk0nkbiv5bdqu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943924828873-jdeursob2d2r64pi9n3uk0nkbiv5bdqu</string>
	<key>API_KEY</key>
	<string>AIzaSyDtx_3nXX2-uw81hQ8mxVanxwbsOIfxcBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>943924828873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lwa.legendstour</string>
	<key>PROJECT_ID</key>
	<string>legends-notification</string>
	<key>STORAGE_BUCKET</key>
	<string>legends-notification.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943924828873:ios:4c18518bd4e88da3ce8b18</string>
	<key>DATABASE_URL</key>
	<string>https://legends-notification.firebaseio.com</string>
</dict>
</plist>